body {

    background: #444;
    color: white;
    text-align: center;
}px

h1 {
    margin-top: 20px;
}

#animal-photos {
    width: 90%;
    max-width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
	
}

#animal-photos img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}
